table{
    width: 600px;
    border-collapse: collapse;
    text-align: center; 
    vertical-align: middle;
}
caption,td, th{
    border: 1px solid black;
}
caption{
    font-size: 1.5em;
    padding: 1vw;
    font-weight: bolder;
}
td{
     padding: 0.6em 1em;
}
.cnome , .cidade {
    background-color: lime;
}
.csexo{
    background-color: yellow;
}
